.colors {
  --color-one: #de7c7d;
  --color-two: #ce1361;
  --color-three: #740938;
  --light-text: rgb(243, 243, 243);
  --dark-text: rgb(14, 14, 14);
}

.footerBar {
  display: flex;
  gap: 10px;
  padding: 10px 0px;
}

.footerBar a {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 20px;
  font-weight: bold;
}

.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.699);
}

#cart {
  display: none;
}

.navBar {
  display: flex;
  gap: 10px;
}

.logoBar {
  width: 50px;
  display: none;
}

.hello {
  color: green;
}

.navBar a,
.footerBar a {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 25px;
  font-weight: bold;
  color: var(--dark-text);
  text-decoration: none;
  letter-spacing: 1px;
}

.navBar a:hover {
  color: var(--color-two);
}

.footerBar a:hover {
  color: var(--color-two);
}

@media (min-width: 800px) {
  .header {
    padding: 10px 200px;
    justify-content: space-between;
  }
  .navBar a {
    font-size: 30px;
  }

  .navBar {
    gap: 40px;
  }

  .footerBar {
    gap: 40px;
  }

  .logoBar,
  #cart {
    display: block;
  }
}
