.footerBar {
  display: flex;
  gap: 40px;
  padding: 10px 0px;
}

.footerBar button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3px;
}
