body {
  margin: 0px;
  --color-one: #de7c7d;
  --color-two: #ce1361;
  --color-three: #740938;
  --light-text: rgb(243, 243, 243);
  --dark-text: rgb(73, 73, 73);
}

.header {
  min-width: 100vw;
  position: fixed;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  box-sizing: border-box;

  align-items: center;
  padding: 10px 40px;
  box-shadow: 0px 0px 4px rgb(206, 206, 206);
  grid-column: 1 / 3;
  z-index: 2;
  background-color: rgb(243, 243, 243);
}

.logoBar {
  max-height: 50px;
  justify-self: center;
}

.navBar {
  display: none;
  gap: 50px;
  justify-self: center;
}

.a {
  font-size: 20px;
  color: var(--dark-text);
  text-decoration: none;
  transition: color 500ms;
}

.a:hover {
  color: var(--color-two);
}

#cart {
  display: flex;
  justify-content: center;
}

.aToggle {
  font-size: 30px;
  color: var(--dark-text);
  text-decoration: none;
  transition: color 500ms;
  background-color: rgb(243, 243, 243);
  width: 100vw;
  padding: 20px;
}

.aToggle:hover {
  color: var(--color-two);
}

.menuControl {
  font-size: 40px;
  margin: 0px;
  color: var(--light-text);
  border: none;
  padding: none;
  background-color: var(--color-three);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  justify-self: center;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  grid-row: 2 / 3;
  grid-column: 1 / 4;
  justify-self: center;
  text-align: center;
  gap: 10px;
  margin-top: 20px;
  animation: show 500ms ease-in-out;
}

@media (min-width: 800px) {
  .navBar {
    display: flex;
  }

  .menuControl {
    display: none;
  }
}
