.mobileMenu {
  display: none;
}

.mobileMenuToggle {
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  animation: show 200ms ease-in-out forwards;
  transform-origin: top;
}

@keyframes show {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}
