body {
  margin: 0px;
  --color-one: #de7c7d;
  --color-two: #ce1361;
  --color-three: #740938;
  --light-text: rgb(243, 243, 243);
  --dark-text: rgb(14, 14, 14);
  font-family: fantasy;
}

#mainVideo {
  position: fixed;
  z-index: -2;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.wrapper {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(233, 233, 233, 0.705);
}

.mainButton {
  padding: 20px;
  margin: 10px;
  background-color: var(--color-two);
  color: var(--light-text);
  border-radius: 10px;
  border: none;
  box-shadow: 0px 0px 3px black;
  font-family: fantasy;
  letter-spacing: 5px;
  font-size: 25px;
  transition: all 1s;
}

.mainButton:hover {
  transform: scale(1.2);
}

h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
}

h2 {
  font-size: 40px;
  margin: 10px 0px 0px 0px;
  text-align: center;
  color: var(--color-two);
}

.banner {
  display: none;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

#mainImg {
  max-width: 150px;
  height: auto;
  animation: bounce 2s ease-in-out alternate infinite;
}

@keyframes bounce {
  from {
    transform: translateY(0%) scale(1);
  }

  to {
    transform: translateY(-10%) scale(1.1);
  }
}

button {
  font-family: fantasy;
}
